node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store
Firebase/Fire.js
redux/actions/oldlogin.txt
screens/LNB/userprofileoriginal
redux/actions/originalconnect
secrets
yarn-error.log
UPDATES
components/LNB/CameraModal.js
screens/LNB/CameraImageView.js
